<!doctype html>

<html>
    <head>
        <title>Analogy Quality Experiment</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel=stylesheet href="/static/css/style.css" type="text/css">
    </head>
    <body>
        <div id="container-hit-info">
            <div id="hit-info">
                <h1>Debugging task complete!</h1>
                <hr>
                <div class="alert alert-info">
                    If this was a real HIT, the data would be saved now and the HIT submitted to AMT.
                </div>
            </div>
        </div>
    </body>
</html>