<div id="container-exp">
    <div id="trial-content-wrapper">
        <div id="trial-content" align="center">
            <p>How good is this analogy?</p>
            <br>
            <p><b><span id="wordA"></span></b> : <b><span id="wordB"></span></b> ::
                <b><span id="wordC"></span></b> : <b><span id="wordD"></span></b></p>
            <br>
            <br>
            <input id="rating-bar" type="text"
                data-slider-id="sim-rating-bar"
                data-slider-ticks="[1, 2, 3, 4, 5, 6, 7]"
                data-slider-ticks-labels='["1<br/>very bad", "2", "3", "4", "5", "6", "7<br/>very good"]'
                data-slider-min="1"
                data-slider-max="7"
                data-slider-step="1"
                data-slider-tooltip="hide" />
            <br>
            <br>
            <button type="button" id="submit" value="submit" class="btn btn-primary btn-lg continue" style="margin: 0 auto;">
                Submit</button>
        </div>
    </div>

    <div id="container-progress" align="center">
        <p>Completion Progress</p>
        <div class="progress">
            <div class="progress-bar" id="progress-bar" role="progressbar" aria-valuenow="0"
            aria-valuemin="0" aria-valuemax="100" style="width:0%">
                <span class="sr-only" id="progress-bar-text">0% Complete</span>
            </div>
        </div>
    </div>
</div>