<div id="container-instructions">

    <h1>Instructions</h1>

    <div class="instructions well">

        <p>
            In this task, you will rate the quality of word analogies, such as "kitten is to cat
            as chick is to chicken" (abbreviated as kitten : cat :: chick : chicken). This is an
            example of a good analogy because the relationship between the first two words (a
            kitten is a young cat) is similar to the relationship between the last two words (a
            chick is a young chicken).
        </p>
        <p>
            Here is another example:
        </p>
        <p align="center">
            chick : chicken :: hen : rooster
        </p>
        <p>
            This is an example of a bad analogy because the relationship between the first two
            words (a chick is a young chicken) is not similar to the relationship between the last
            two words (a hen is a female chicken and a rooster is a male chicken).
        </p>
        <p>
            Please rate the quality of each analogy shown on the following pages on a scale from 1
            (very bad) to 7 (very good). Please take your time and make your ratings carefully.
            Note that the order of words within each pair matters (so kitten : cat is not the same
            as cat : kitten).
        </p>

        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <div class="instructionsnav">
        <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" style="float:right">
        Begin</button>
    </div>
    <br/>
    <br/>

</div>
